/* Header */
.heading{
    margin: 0;
    padding: 0 0 0 15px;
    display: inline;
}

nav ul li{
    display: inline-block;
    list-style: none;
    padding: 0px 15px;
    /* align-items: center; */
}
.logo{
    
}
.image{
    display: flex;
    align-items: center;
    border-radius: 50%;    
 }
 .headerLink{
    float: left;
    color: #A0522D;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    background-color: unset;
    margin: 0px;
 }
 header button:hover{
    background-color: #DEB887;
    color: #800000;
 }
 header {
    display: flex;
    align-items: left;
    justify-content: left;
    overflow: hidden;
    background-color: #EDBB99;
    width: 100%
}

header a{
    float: left;
    color: #A0522D;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    
}
header a:hover{
    background-color: #DEB887;
    color: #800000;
}
header a.active{
    background-color: #4caf50;
}

.inputField {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    display: block !important;
    border: 1px grey solid !important;
    background: #f1f1f1 !important;
}

.inputButton {
    background-color: grey !important;
    color:black !important;
    padding: 2px !important;
    margin: 0 !important;
    border: 1px grey solid !important;
    cursor: pointer !important;
    width: 100%;
    opacity: 0.9;
}

.loginfloat{
    position: absolute;
    right: 13%;
    top: 5%;
    
}

.loginfloat2{
    position: absolute;
    right: 2%;
    top: 5%;
}
.loginfloat3{
    position: absolute;
    right: 0%;
    top: 4.8%;

}
/* .loginfloat4{
    position: absolute;
    right:20%;
    top: 5%;
} */

.loginfloat5{
    position: absolute;
    top: 4%;
    right: 35%;
   
}
.social{
    position: absolute;
    top: 4%;
    right: 90%;
    color: #000000;
    font-size: 20px;
}
/* .aboutfloat{
    position: absolute;
    top: 4%;
    right: 10%;
} */

/* Dropdown */
.navbar{
    overflow: hidden;

}
.navbar a{
    float: left;
    color: #A0522D;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;

}
.dropdown{
    float: left;
    overflow: hidden;

}
.dropdown .dropbtn{
    font-size: 16px;
    border: none;
    outline: none;
    color: #A0522D;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn{
    background-color: #DEB887;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #DEB887;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
.dropdown-content a {
    float: none;
    color: #A0522D;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
.dropdown-content a:hover{
    background-color: #EDBB99;
}
.dropdown:hover{
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}
/* Signup */

* {box-sizing: border-box}
/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
/* Middle */

.middle {
    margin: 0;
    position: absolute;
    size: 50px;
    border-style: solid;
    border-width: 2px;
    padding: 100px; 
    /* background-color: red; */
}

.middle input{
    width: 150px;
}

/* Footer */

.footer{
    margin: 0;
    padding: 0 0 0 15px;
    display: inline;
}
/* footer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding-bottom: 2.5rem;    
    bottom: 0;
    width: 100%;
    height: 5rem;
    overflow: hidden;
    background-color: #EDBB99;
}
footer a{
    
    float: right;
    color: #A0522D;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
}
footer a:hover{
    background-color: #DEB887;
    color: #800000;
}
footer a.active{
    background-color: #4caf50;
} */


body{
    background: url("../Images/sidepawbackground.jpg") no-repeat;
    background-size: cover;
    /* margin: 0px; */
} 

*{  box-sizing: border-box;
 }
   
 body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
  } 
  

  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 10px -16px;
  }
  
 
  .row > .column {
    padding: 8px;
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

  .content {
    background-color: white;
    padding: 10px;
  }
  

  .show {
    display: block;
  }
  

  .bton {
    border: none, !important;
    outline: none, !important;
    padding: 12px 16px, !important;
    background-color: white, !important;
    cursor: pointer, !important;
  }
  
  .bton:hover {
    background-color: #ddd,!important;
  }
  
  .bton.active {
    background-color: #666,!important;
    color: white,!important;
  }
  .column_dog {
    /* float: left; */
    width: 30%;
    display: inline-block; 
  }
  .column_cat{
    /* float: left; */
    width: 30%;
    display: inline-block; 
  }
  .column_rabbit{
    /* float: left; */
    width: 30%;
    display: inline-block; 
  }
  .column_hamster{
    /* float: left; */
    width: 30%;
    display: inline-block; 
}

#page-container { 
    position: relative;
    min-height: 100vh;

}
#content-wrap {
    padding-bottom: 2.5rem;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}